.home__header {
    background-color: var(--color-amarillo);
}

.home__header__div {
    margin-left: 20px;
}

.home__header__div img {
    width: 120px;
    margin: 23px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.home__header__div input{
    display: flex;
    flex-direction: column;
} 

.home__header__div i {
    margin-top: 1px;
    background-color: white;
    width: auto;
    height: auto;
    border: solid 0.1px black;
    padding: 2px; 
}

.home__header__p {
    margin: 15px;
    text-align: center;
    font-size: var(--tamaño-cuerpo-de-texto);
}

.home__header__div__navs {
    font-size: var(--tamaño-cuerpo-de-texto);
}

.home__header__div__nav1, .home__header__div__nav2 {
    margin-bottom: 17px;
}

.home__header__div--burger {
    display: flex;
    justify-content: center;
}

.home__header__div--burger i{
    width: 45px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--color-azul);
    border-radius: 7px;
    color: white;
    margin-bottom: 17px;
}

@media (max-width: 360px) {
    .home__header__div__navs {
        display: none;
    }
}

@media (min-width:361px) {
    .home__header__div--burger {
        display: none;
    }
}